<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-warning" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/quienesSomos">Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="/contactos">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- con esto le decimos que desde aca (el componente principal) gestionamos todo el enrutamiento. -->
<router-outlet></router-outlet>



























