<div class="container">
    <div class="row">
      <div class="col">
       
        <div class="ms-4">
          
          {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
        
        </div>

         <app-caracteristicas-empleado (caracteristicasEmpleados)="addCaracteristica($event)"></app-caracteristicas-empleado> 
        
        <ul style="list-style: none;">
          <li *ngFor="let caracteristica of arrayCaracteristicas"> {{caracteristica}}</li>
        </ul> 

      </div>
    </div>
  </div>
